#cloud-config
fqdn: {{ vm_hostname }}
preserve_hostname: false
prefer_fqdn_over_hostname: true

users:
- name: admin
  gecos: Admin Account
  groups: wheel
  sudo: ALL=(ALL) NOPASSWD:ALL
  lock_passwd: true
  ssh_authorized_keys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMqMT7tE4pkeamzUluJdu7Gv6LrwsoSoXhMJk1NQ+Wf4 Luki-Personal

runcmd:
- [ systemctl, restart, NetworkManager ]
